.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  gap: var(--gap-lg);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background: var(--color-surface);
  box-shadow: var(--box-shadow);
}

.mediaCol,
.bodyCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
}

.mediaCol {
  margin-top: calc(var(--gap-m) + 30px);
  gap: 1rem;
}

.media {
  border-radius: 1.5rem;
  overflow: hidden;
  background: #f2f2f2;
  aspect-ratio: 4/3;

  img {
    width: 100%;
    height: 100%;
  }
}
.placeholder {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

.priceRow {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}
.price {
  font-size: var(--fs-price);
  font-weight: 600;
  color: var(--color-primary);
}
.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem 0.8rem;

  font-size: var(--fs-sm);

  border-radius: 0.5rem;
  background: #eef3ee;
  color: var(--color-text-ok);
}
.icon {
  width: 1.2rem;
  height: 1.2rem;
}
.badgeNo {
  background: #4c4c4c26;
  color: var(--color-text-muted);
}
.badgeOk {
  background: var(--color-ok);
}

.bodyCol {
  gap: var(--gap-lg);
}

.content {
  display: grid;
  gap: 2rem;
}

.head {
  display: grid;
  gap: 1rem;
}

.title {
  margin: 0;
  font-size: var(--fs-h2);
  font-weight: 600;
  line-height: 1;
}

.labels {
  position: absolute;
  top: var(--gap-m);
  left: var(--gap-m);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.label {
  padding: 0.6rem 0.8rem;
  background: var(--color-surface);
  border: 1px solid var(--color-accent);
  border-radius: 0.5rem;
  color: var(--color-accent);
  font-size: var(--fs-sm);
}

.features {
  margin: 0;
  padding-left: 1.4em;
  display: grid;
  gap: 1rem;
  color: var(--color-text-muted);
  font-size: var(--fs-m);
}
.features li {
  list-style: disc;
}

.more {
  font-size: var(--fs-m);
  color: var(--color-primary);
}

@media (min-width: 576px) {
  .card {
    position: static;
    grid-template-columns: minmax(26rem, 34rem) 1fr;
  }

  .mediaCol {
    margin-top: 0;
  }

  .labels {
    position: static;
  }
}
