.btn {
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: var(--btn-h);
  padding-inline: var(--btn-px-md);
  border-radius: var(--border-radius-display);

  font-size: var(--fs-sm);
  line-height: 1;
  white-space: nowrap;

  border: none;
  cursor: pointer;
  transition: transform 0.12s ease;
  transform-origin: center;
  will-change: transform;

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.block {
  inline-size: 100%;
}

// Only main display
.xxl {
  height: var(--btn-h-xxl);
  padding-inline: var(--btn-px-xxl);
}

.lg {
  height: var(--btn-h);
  padding-inline: var(--btn-px-md);
}

@media (min-width: 576px) {
  .lg {
    padding-inline: var(--btn-px-lg);
  }
}

.md {
  height: var(--btn-h);
  padding-inline: var(--btn-px-md);
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.primary {
  background: var(--color-primary);
  color: var(--color-surface);
  font-size: var(--fs-m);
}

.glass {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);

  color: var(--color-text);

  box-shadow:
    inset 0 0 16px rgba(242, 242, 242, 1),
    inset 0 0 3px rgba(255, 255, 255, 0.5),
    inset -1px -1px 0.5px rgba(255, 255, 255, 0.5),
    inset 1px 1px 0.5px rgba(255, 255, 255, 0.5),
    inset -1px -1px 0 rgba(38, 38, 38, 0.35),
    inset 1px 1px 0 rgba(51, 51, 51, 0.45);
}
