.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.rowHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-m);
}

.letter {
  font-size: var(--fs-m);
  font-weight: 600;
  margin: 0;
}

.rule {
  border: none;
  height: 1px;
  width: 100%;
  background: var(--rule-color);
}

.grid {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(17.7rem, 1fr));
  gap: var(--gap-sm);
}
